@import "tailwindcss";

:root {
  --background: #2a1044;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-ibm-plex-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace;
}

button:hover {
  cursor: pointer;
}

.animate-bobbing {
  animation: bobbing 2s infinite ease-in-out;
}

.animate-spinning {
  animation: spin 18s linear infinite;
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg text {
  font-size: 14px;
}

@media (min-width: 768px) {
  svg text {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  svg text {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  svg text {
    font-size: 24px;
  }
}
